if SHIELD_BLACKJACK

config ZMK_KEYBOARD_NAME
    default "Blackjack"

endif

CONFIG_ZMK_DISPLAY=y

if ZMK_DISPLAY

config I2C
	default y

config SSD1306
	default y

config SSD1306_REVERSE_MODE
	default y

endif # ZMK_DISPLAY


CONFIG_ZMK_BATTERY_REPORTING=y
CONFIG_ZMK_BATTERY_REPORT_INTERVAL=60